* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  margin: 0;
  padding: 0;
  font-family: ‘Segoe UI’, Candara, ‘Bitstream Vera Sans’, ‘DejaVu Sans’,
    ‘Bitsream Vera Sans’, ‘Trebuchet MS’, Verdana, ‘Verdana Ref’, sans-serif;
  background-color: darkslategray;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Page Layout */
.columns {
  display: flex;
  flex-wrap: wrap;
}

.wrapper {
  display: flex;
}
.container {
  max-width: 960px;
  margin-top: 25px;
}

.new-form-header {
  text-align: flex-start;
  background-color: #ca91cb;
  border: 1px solid #133354;
  border-radius: 3px;
  
  width: 90%;
  margin: 40px 0;
  padding: 30px;
}

.new-form-header h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

.new-form {
  background-color: #F6F7F8;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  display: flex;
  
  width: 80%;
  padding: 50px;
  margin: 0 200px 40px 0;
  
}

.form-row {
  margin-bottom: 40px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.form-row input[type='text'] {
  background-color: #FFFFFF;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  width: 100%;
  padding: 7px;
  font-size: 14px;
}

.form-row label {
  margin-bottom: 15px;
}

.radio-form-row {
  border: none;
  margin:  170px 0px 500px -230px;
}

.radio-form-row legend {
  margin-bottom: 15px;
}

.radio-form-row .radio-label {
  display: block;
  font-size: 14px;
  padding: 0 20px 0 10px;
}

.radio-form-row input[type='radio'] {
  margin-top: 2px;
}
  
.radio-form-row .radio-label,
.radio-form-row input[type='radio'] {
  float: left;
}

.form-row button {
  font-size: 16px;
  font-weight: bold;

  color: #FFFFFF;
  background-color: #5995DA;

  border: none;
  border-radius: 3px;

  padding: 10px 40px;
  cursor: pointer;
  margin-top: 55px;
}

.form-row button:hover {
  background-color: #76AEED;
}

.form-row button:active {
  background-color: #407FC7;
}

@media only screen and (min-width: 700px) {
  .new-form-header{
    width: 900px;
  }
  .new-form {
    width: 400px;
    height: 500px;
  }
  .form-row {
    flex-direction: column;
    align-items: flex-start; /* To avoid stretching */
    margin-bottom: 20px;
  }
  .form-row input[type='text'] {
    width: 250px;
    height: initial;
  }
  .form-row label {
    text-align: left;
    width: 150px;
    margin-top: 7px;
    padding-right: 20px;
  }
  .radio-form-row {
    margin:  170px 0px 500px -230px;

  }
  .radio-form-row legend {
    width: 200px;
    text-align: left;
  
  }
  .radio-form-row legend {
    float: left;
  }

  .form-row button {
    margin: 500px, 0px, 0px, 6px;
    
  }
}


